/* Basic styling for the entire site */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #EEE2DE;
    color: #000;
    text-align: center;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}

h1, h2 {
    color: #cc0000; /* Text color */
}

.pg {
    background-image: url('IMAGES/PG.jpg');
        width: 500px;
        height: 750px;
        box-shadow: 0px 10px 10px grey;
        border-radius: 15px;
        overflow: hidden; 
        position: relative; 
        margin: 10px; /* Adds a little margin for spacing */
}

.image-container {
    width: 140px;
    height: 200px;
    box-shadow: 10px 10px 5px grey;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 10px; /* Add a little margin for spacing */
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


nav, main, footer {
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

thead th {
    background-color: #ce3131;
    color: white;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
    nav ul {
        text-align: center;
        padding: 0;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
