body {
    background-color: #ffffff;
    color: #333333;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
}

/* Image Container Styles */
.image-container {
    width: 100%; /* Responsive width */
    margin: 20px 0;
}

img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
}

/* Header Styles */
header {
    background-color: #EEE2DE;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

h2 {
    color: #cc0000;
}

/* List Styles */
ul, ol {
    padding-left: 20px;
}

/* Paragraph Styles */
p {
    line-height: 1.6;
}

/* Hyperlink Styles */
a:link, a:visited {
    color: #4285f4;
    text-decoration: none;
}

a:hover {
    color: #ff6347;
    text-decoration: underline;
}

/* Media Query for Desktop */
@media only screen and (min-width: 768px) {
    .content-wrapper {
        display: flex;
        justify-content: space-between;
    }

    #main-content, #additional-content {
        width: 48%;
    }

    .image-container {
        width: 45%;
        float: left;
        margin-right: 10%;
    }
}
